.brandsWrapper{
    padding: 20px;
    display: flex;
    flex-direction: column; 
}
.brand-details-container2 {
    display: flex; /* Use flexbox to display elements in a row */
    justify-content: space-between; /* Align elements with space between them */
    width: 900px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .brand-details-container {
    width: 900px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .brand-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .brand-details p {
    font-size: 16px;
    margin: 5px 0;
  }